/* Custom styles can be added here */
body {
    background-color: #B4DEC6;
    font-family: Arial, sans-serif;
}

.alert-secondary {
    margin-top: 20px;
}

.table img {
    max-width: 100px;
    height: auto;
}

.form-control {
    margin-bottom: 20px;
}

.btn-outline-success {
    margin-top: 10px;
}
